@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background: linear-gradient(rgb(0 0 0/66%), rgb(0 0 0/63%)),
    url(https://wallpaperaccess.com/full/151223.jpg);
  background-size: cover;
  min-height: 89vh;
  background-repeat: no-repeat;
}
